/* Colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-green: #99E2D0;

/* Colors-background */
$grey-light: #f8f8f8ce;
$grey-lighten: #eaeaeaf1;



/* breakpoints */
$medium: 1024px;
$high: 1440px;